@font-face {
  font-family: 'EB Garamond';
  src: local('EB Garamond'), /* Optional: Attempt to use local version first */
       url('../public/EBGaramond12-Regular.otf') format('opentype'); 
  font-style: normal;
  font-weight: 400;
}

@keyframes slowExpand {
  0% {
    opacity: 0;
    transform: scale(0.75) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes slowContract {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(0.75);
  }
}

.textExpand {
  animation: slowExpand 4s ease-out forwards;
  font-family: 'EB Garamond', serif; /* Using the custom font you mentioned */
  font-size: 36px; /* Or any size you prefer */
}

.textContract {
  animation: slowContract 4s ease-out forwards;
  font-family: 'EB Garamond', serif; /* Using the custom font you mentioned */
  font-size: 36px; /* Or any size you prefer */
}

@keyframes glow {
    0%, 100% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7), 0 0 40px 20px rgba(173, 216, 230, 0.5);
    }
    50% {
        box-shadow: 0 0 30px 15px rgba(255, 255, 255, 0.9), 0 0 60px 30px rgba(173, 216, 230, 0.3);
    }
}

@keyframes float {
    0%, 100% {
        transform: translate(-50%, -50%) translateX(-10px);
    }
    50% {
        transform: translate(-50%, -50%) translateX(10px);
    }
}

.wisp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    animation: glow 3s ease-in-out infinite, float 8s ease-in-out infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wisp::after {
    content: "";
    position: absolute;
    top: 75%;
    left: 50%;
    width: 10px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    transform: rotate(45deg);
    filter: blur(8px);
}

